<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="public/styles.css">
        <title>Idreto technical assesment</title>
    </head>
    <script>
        window.user = <%-JSON.stringify(user)%>;
    </script>
    <body>
        <div id="app"></div>
        <script src="dist/bundle.js"></script>
    </body>
</html>
