<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="public/styles.css">
        <title>Idreto technical assesment</title>
    </head>
    <body>
        <div id="app">
            <h1 class="row login-title">Idreto login with google</h1>
            <% if (typeof error == 'string') { %>
                <div class="row login-error">
                    <h2><%= error %></h2>
                </div>
            <% } %>
            <div class="row">
                <a href="/auth/google" class="google-button">Sign in with Google</a>
            </div>
            <h5 class="row footer">Idreto technical assesment 2018</h5>
        </div>
    </body>
</html>