body {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

#app {
    margin-top: 80px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.hidden {
    display: none !important;
}

.row {
    width: 100%;
}

.header-action {
    padding-top: 15px;
    width: 30%;
    padding-left: 70%;
}

.header-action a {
    cursor: pointer;
    text-decoration: none;
}

.app-title{
    padding: 15px;
}

.medium-container {
    width: 100%;
    min-height: 250px;
    display: inline-block;
}

.medium-container select,
.medium-container h1 {
    margin-left: 15px;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

td, th {
    border: 1px solid #A5A5A5;
    text-align: center;
    padding: 8px;
}

th {
    background-color: white;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

.fetching-error {
    background-color: red;
    color: "white" 
}

.login-title {
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}

.login-error {
    background-color: red;
    margin-bottom: 15px;
}

.login-error  h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.footer {
    padding-bottom: 15px
}

.google-button {
    background-color:#4285F4;
    margin: 25px auto;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 269px;
    line-height: 60px;
    color: white;
}

@media (min-width: 768px) {
    #app  {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #app  {
        width: 970px;
    }
    .medium-container {
        width: 49%;
    }
}

@media (min-width: 1200px) {
    #app  {
        width: 1170px;
    }
}
